@using FiveP.Models;
@model User
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
    var b = "@";
}

<form onsubmit="return CheckForm()" action="@Url.Action("ChangePassword","Account")" method="post">
    <input type="hidden" name="id" value="@Model.user_id"/>
    <input type="text" class="form-control" name="NewPassword" id="NewPassword" required placeholder="Mật khẩu mới.." />
    <input type="text" class="form-control" name="#" id="RetypePassword" required placeholder="Nhập lại.." />
    <div id="Notification"></div>
    <button type="submit" class="btn btn-success">Thay đổi</button>
</form>
<script>
    function CheckForm() {
        let NewPassword = document.getElementById("NewPassword").value;
        let RetypePassword = document.getElementById("RetypePassword").value;
        let Notification = document.getElementById("Notification");
        let regex_pass = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@b$!%*?&])[A-Za-z\d@(b)$!%*?&]{8,}$/;
        if (NewPassword != RetypePassword) {
            Notification.innerHTML = "Mật khẩu nhập lại không đúng";
            return false;
        }
        else if (regex_pass.test(NewPassword) == false) {
            Notification.innerHTML = '<p class="remember"  style="color:#721c24; background-color:#f8d7da; border-color:#f5c6cb; padding: .75rem 1.25rem; border: 1px solid transparent; border-radius: .25rem; line-height: 1.5;">  Tối thiểu 8 ký tự, ít nhất một chữ cái viết hoa, một chữ cái viết thường, một số và một ký tự đặc biệt!</p>';
            return false;
        }
        else {
            return true;
        }

    }
</script>

