@model IEnumerable<FiveP.Models.Friend>

@{
    ViewBag.Title = "Friend";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int intCount = 1;
}

<div class="container-fluid content-top-gap">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Kết bạn</li>
        </ol>
    </nav>
    <div class="welcome-msg pt-3 pb-4">
        <h1>Hi <span class="text-primary">John</span>, Có @Model.Count() bạn</h1>
        <p>Very detailed & featured admin.</p>
    </div>

    <!-- statistics data -->
    <div class="statistics">
        <div class="row">
            <div class="col-xl-12">
                <a href="#" class="btn btn-primary mb-1"><i class="fas fa-rocket"></i> Thêm bạn</a>

            </div>
            <div class="col-xl-12">
                <input type="text" class="form-control" id="txtsearch" placeholder="Nhập từ cần tìm.." />
            </div>

            <div class="col-xl-12 table-responsive">

                <table class="table">
                    <tr>
                        <th>
                            Stt
                        </th>

                        <th>
                            Tên người gửi
                        </th>
                        <th>
                            Tên người nhận
                        </th>
                        <th>
                            Ngày <a href="#"><i class="fas fa-long-arrow-alt-up"></i></a><a href="#"><i class="fas fa-long-arrow-alt-down"></i></a>
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @intCount
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.user_nicename)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User1.user_nicename)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.friend_datecreate)
                            </td>
                            <td>
                                @if(item.friend_status == true)
                                {
                                    <span>Bạn bè</span>
                                }
                                else if(item.friend_status == false)
                                {
                                    <span>Chờ </span>
                                }
                                else
                                {
                                    <span>...</span>
                                }
                            </td>
                            <td>
                                <a href="#"><i class="far fa-edit"></i></a>|
                                <a href="#"><i class="far fa-eye"></i></a> |
                                <a href="#"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        intCount++;
                    }

                </table>

            </div>

        </div>
    </div>

</div>
<script>
    $("#txtsearch").on("keyup", function () {
        var txtenter = $(this).val();
        $("table tr").each(function (results) {
            if (results !== 0) {
                var id = $(this).find("td:nth-child(2)").text();
                if (id.indexOf(txtenter) !== 0 && id.toLowerCase().indexOf(txtenter.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        });
    });
</script>

