
@{
    ViewBag.Title = "IndexUserPage";
    Layout = "~/Views/Shared/_LayoutUserPage.cshtml";
}
<div class="wrapper">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <img class="bg-image" src="~/Content/argon-design-system-master/assets/img/pages/mohamed.jpg" style="width: 100%;">
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="section bg-secondary">
        <div class="container">
            <div class="card card-profile shadow mt--300">
                <div class="px-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="javascript:;">
                                    <img src="~/Content/argon-design-system-master/assets/img/faces/team-4.jpg" class="rounded-circle">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                            <div class="card-profile-actions py-4 mt-lg-0">
                                <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                                <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-1">
                            <div class="card-profile-stats d-flex justify-content-center">
                                <div>
                                    <span class="heading">22</span>
                                    <span class="description">Bạn bè</span>
                                </div>
                                <div>
                                    <span class="heading">10</span>
                                    <span class="description">Nổi tiếng</span>
                                </div>
                                <div>
                                    <span class="heading">89</span>
                                    <span class="description">Huy hiệu</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <h3>Jessica Jones<span class="font-weight-light">, 27</span></h3>
                        <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Công nghệ Bucharest, Romania</div>
                        <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i><i class="fab fa-facebook-square"></i> https://www.facebook.com/hoangmaicuong.99</div>
                        <div><i class="ni education_hat mr-2"></i><i class="fab fa-github-square"></i> https://www.facebook.com/hoangmaicuong.99</div>
                    </div>
                    <div>

                        <div class="container-fluid gedf-wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-secondary">Nổi tiếng<i class="far fa-snowflake text-success"></i></button>
                                        <button type="button" class="btn btn-secondary">Thưởng</button>
                                        <button type="button" class="btn btn-secondary">Xem</button>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="h5"> Thông tin</div>
                                            <div class="text-left"><i class="fas fa-envelope"></i> Email : cuongembaubang@gmail.com</div>
                                            <div class="h7">
                                                <i class="far fa-calendar-alt"></i>&nbsp;Ngày sinh: 12/03/1234 12:00:00 AM
                                            </div>
                                            <div class="h7">
                                                <i class="fas fa-mobile-alt"></i>&nbsp;Số điện thoại : 21
                                            </div>
                                            <div class="h7">
                                                <i class="fas fa-venus-mars"></i>&nbsp;gới tính : Nam
                                            </div>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="h6 text-muted"><i class="fas fa-map-marker-alt"></i>&nbsp; Địa chỉ</div>
                                                <div class="h5">Địa chỉ: thị Trấn Lại Uyên, huyện Bàu Bàng, tỉnh Bình Dương</div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="h6 text-muted"><i class="fas fa-briefcase"></i>&nbsp; Sở thích công việc</div>
                                                <div class="h5"> 12</div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="h6 text-muted"><i class="far fa-heart"></i>&nbsp;Sở thích cá nhân</div>
                                                <div class="h5">  12</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8 gedf-main">

                                    <!--- \\\\\\\Post-->
                                    <div class="card gedf-card">
                                        <div class="card-header">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="mr-2">
                                                        <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                                    </div>
                                                    <div class="ml-2">
                                                        <div class="h5 m-0">LeeCross</div>
                                                        <div class="h7 text-muted">Miracles Lee Cross</div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="dropdown">
                                                        <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-ellipsis-h"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                                            <div class="h6 dropdown-header">Configuration</div>
                                                            <a class="dropdown-item" href="#">Save</a>
                                                            <a class="dropdown-item" href="#">Hide</a>
                                                            <a class="dropdown-item" href="#">Report</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="card-body">
                                            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> 10 min ago</div>
                                            <a class="card-link" href="#">
                                                <h5 class="card-title">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit consectetur
                                                    deserunt illo esse distinctio.
                                                </h5>
                                            </a>

                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis nihil, aliquam est, voluptates officiis iure soluta
                                                alias vel odit, placeat reiciendis ut libero! Quas aliquid natus cumque quae repellendus. Lorem
                                                ipsum dolor sit amet consectetur adipisicing elit. Ipsa, excepturi. Doloremque, reprehenderit!
                                                Quos in maiores, soluta doloremque molestiae reiciendis libero expedita assumenda fuga quae.
                                                Consectetur id molestias itaque facere? Hic!
                                            </p>
                                            <div>
                                                <span class="badge badge-primary">JavaScript</span>
                                                <span class="badge badge-primary">Android</span>
                                                <span class="badge badge-primary">PHP</span>
                                                <span class="badge badge-primary">Node.js</span>
                                                <span class="badge badge-primary">Ruby</span>
                                                <span class="badge badge-primary">Paython</span>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <a href="#" class="card-link"><i class="fa fa-gittip"></i> Đề xuất</a>
                                            <a href="#" class="card-link"><i class="fa fa-comment"></i> Đáp án</a>
                                            <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Lượt xem</a>
                                        </div>
                                    </div>
                                    <!-- Post /////-->
                                    <br />
                                    <!--- \\\\\\\Post-->
                                    <div class="card gedf-card">
                                        <div class="card-header">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="mr-2">
                                                        <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                                    </div>
                                                    <div class="ml-2">
                                                        <div class="h5 m-0">LeeCross</div>
                                                        <div class="h7 text-muted">Miracles Lee Cross</div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="dropdown">
                                                        <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-ellipsis-h"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                                            <div class="h6 dropdown-header">Configuration</div>
                                                            <a class="dropdown-item" href="#">Save</a>
                                                            <a class="dropdown-item" href="#">Hide</a>
                                                            <a class="dropdown-item" href="#">Report</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="card-body">
                                            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> 10 min ago</div>
                                            <a class="card-link" href="#">
                                                <h5 class="card-title">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit consectetur
                                                    deserunt illo esse distinctio.
                                                </h5>
                                            </a>

                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis nihil, aliquam est, voluptates officiis iure soluta
                                                alias vel odit, placeat reiciendis ut libero! Quas aliquid natus cumque quae repellendus. Lorem
                                                ipsum dolor sit amet consectetur adipisicing elit. Ipsa, excepturi. Doloremque, reprehenderit!
                                                Quos in maiores, soluta doloremque molestiae reiciendis libero expedita assumenda fuga quae.
                                                Consectetur id molestias itaque facere? Hic!
                                            </p>
                                            <div>
                                                <span class="badge badge-primary">JavaScript</span>
                                                <span class="badge badge-primary">Android</span>
                                                <span class="badge badge-primary">PHP</span>
                                                <span class="badge badge-primary">Node.js</span>
                                                <span class="badge badge-primary">Ruby</span>
                                                <span class="badge badge-primary">Paython</span>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                                            <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                                            <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                                        </div>
                                    </div>
                                    <!-- Post /////-->
                                    <br />

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">

            <div class="row align-items-center justify-content-md-between">
                <div class="col-md-6">
                    <div class="copyright">
                        &copy; 2020 <a href="" target="_blank">Creative Tim</a>.
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav nav-footer justify-content-end">
                        <li class="nav-item">
                            <a href="" class="nav-link" target="_blank">Creative Tim</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" target="_blank">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" target="_blank">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" target="_blank">License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>