
@{
    ViewBag.Title = "IndexUserPage";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}

<div class="main-content" id="panel">
    <!-- Topnav -->
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background-image: url(/Content/LayoutCenter/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white">Hello Jesse</h1>
                    <p class="text-white mt-0 mb-5">Câu hỏi hoặc câu trả lời của bạn, được nhiều người đánh giá cao, điểm danh tiếng và huy chương bạn sẽ càng nhiều, được nhiều người kính trọng.</p>
                    <a href="#!" class="btn btn-neutral">Câu hỏi?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-4 order-xl-2">
                <div class="card card-profile">
                    <img src="~/Content/LayoutCenter/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    <img src="~/Content/LayoutCenter/img/theme/team-4.jpg" class="rounded-circle">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-sm btn-info  mr-4 ">Connect</a>
                            <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center">
                                    <div>
                                        <span class="heading">22</span>
                                        <span class="description">Bạn bè</span>
                                    </div>
                                    <div>
                                        <span class="heading">10</span>
                                        <span class="description">Nổi tiếng</span>
                                    </div>
                                    <div>
                                        <span class="heading">89</span>
                                        <span class="description">Huy hiệu</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h5 class="h3">
                                Jessica Jones<span class="font-weight-light">, 27 <i class="fas fa-marker"></i></span>
                            </h5>
                            <div class="h5 font-weight-300">
                                <i class="ni location_pin mr-2"></i>Công nghệ Bucharest, Romania
                            </div>
                            <div class="h5 mt-4">
                                <i class="ni business_briefcase-24 mr-2"></i><i class="fas fa-envelope-open-text"></i>&nbsp; cuongembaubang@gmail.com
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="far fa-calendar-alt"></i>&nbsp; Ngày sinh: 12/03/1234 12:00:00 AM
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fas fa-child"></i>&nbsp;Tổng bạn bè: 1
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fas fa-chess-king"></i>&nbsp; Độ nổi tiếng : 138
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fas fa-award"></i>&nbsp; Huy hiệu : 0
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fas fa-mobile-alt"></i>&nbsp; Số điện thoại : 21
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fas fa-map-marked-alt"></i>&nbsp; Địa chỉ: thị Trấn Lại Uyên, huyện Bàu Bàng, tỉnh Bình Dương
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fas fa-venus-mars"></i>&nbsp; gới tính : Nam
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fab fa-facebook-f"></i>&nbsp; Link facebook: https://www.facebook.com/hoangmaicuong.99
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fab fa-github"></i>&nbsp; link github: https://www.facebook.com/hoangmaicuong.99
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fas fa-briefcase"></i>&nbsp; Sở thích công việc: 12
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="far fa-grin-hearts"></i>&nbsp; Sở thích cá nhân: 12
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 order-xl-1">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0"><i class="fas fa-chart-line"></i> Thống kê </h3>
                            </div>
                            <div class="col-4 text-right">
                                <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <h6 class="heading-small text-muted mb-4">Hoạt động của tôi ở các bài viết khác.</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-address"><i class="far fa-credit-card"></i> [ Bài viết bạn đã quan tâm ]</label>
                                            <div>
                                                Tổng đã trả lời của bạn : 7
                                            </div>
                                            <div>
                                                Tổng comment của bạn : 9
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-address"><i class="fas fa-map-pin"></i> [ Bài viết đã đánh dấu ]</label>
                                            <div>
                                                Tổng bài viết đã đánh dấu : 1
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-address"><i class="fab fa-accessible-icon"></i> &nbsp;  [ Hoạt động bài viết đã đánh giấu ]</label>
                                            <div>
                                                Bài viết đã đánh dấu hoạt động : 1
                                            </div>
                                            <div>
                                                Trả lời các bài viết đã đánh dấu hoạt động : 3
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <!-- Address -->
                            <h6 class="heading-small text-muted mb-4">Hoạt động ở bài viết của tôi.</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-address"><i class="far fa-credit-card"></i> &nbsp;  [ Bài viết của bạn ]</label>
                                            <div>
                                                Tổng lượt xem bài viết : 83
                                            </div>
                                            <div>
                                                Tổng bài viết của bạn : 7
                                            </div>
                                            <div>
                                                Tổng trả lời tất cả bài viết : 16
                                            </div>
                                            <div>
                                                Bài viết được đánh giá : 3
                                            </div>
                                            <div>
                                                Bài viết có độ nổi tiếng < 10 : 5
                                            </div>
                                            <div>
                                                Bài viết có độ nổi tiếng < 20 : 0
                                            </div>
                                            <div>
                                                Bài viết có độ nổi tiếng > 40 : 1
                                            </div>
                                            <div>
                                                Bài viết để xuất âm : 1
                                            </div>
                                            <div>
                                                Bài viết trả lời nhiều nhất
                                            </div>
                                            <div>
                                                Bài viết comment nhiều nhất
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-address"><i class="far fa-comment-dots"></i> &nbsp; [ Bình luận ]</label>
                                            <div>
                                                Tổng bình luận: 11
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-address"><i class="far fa-caret-square-up"></i>&nbsp; [ Trả lời bài viết của bạn được đề xuất cao ]</label>
                                            <div>
                                                được đề xuất < 10 : 0
                                            </div>
                                            <div>
                                                Được đề xuất < 20 : 0
                                            </div>
                                            <div>
                                                Được đề xuất < 40 : 0
                                            </div>
                                            <div>
                                                Được đề xuất > 70 : 0
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-address"><i class="far fa-caret-square-down"></i>&nbsp; [ Trả lời được đề xuất thấp ]</label>
                                            <div>
                                                Tổng : 0
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <!-- Description -->
                            <h6 class="heading-small text-muted mb-4">Sơ đồ</h6>
                            <div class="pl-lg-4">
                                <div class="card bg-default">
                                    <div class="card-header bg-transparent">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="text-light text-uppercase ls-1 mb-1">Tổng quan</h6>
                                                <h5 class="h3 text-white mb-0">Trả lời</h5>
                                            </div>
                                            <div class="col">
                                                <ul class="nav nav-pills justify-content-end">
                                                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                                                        <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                                                            <span class="d-none d-md-block">Month</span>
                                                            <span class="d-md-none">M</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                                                        <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                                                            <span class="d-none d-md-block">Week</span>
                                                            <span class="d-md-none">W</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <!-- Chart -->
                                        <div class="chart">
                                            <!-- Chart wrapper -->
                                            <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="../assets/vendor/chart.js/dist/Chart.extension.js"></script>
