@using FiveP.Models;
@model Post
<div class="incoming_msg">
    <div class="incoming_msg_img">
        <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
    </div>
    <div class="received_msg">
        <div class="received_withd_msg">
            @if (Model == null)
            {
                <p> Tôi không hiểu ý bạn nói. </p>

            }
            else
            {
                <p>Có phải bạn muốn tìm bài viết này @Model.post_title</p>

            }
            <span class="time_date">11:01 AM    |    June 9</span>
        </div>
    </div>
</div>