
@{
    ViewBag.Title = "Friend";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}

<link href="~/Content/DisplayMember/StyleSheet1.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/DisplayMember/dispalymember.css" rel="stylesheet" />
<script src="~/Content/DisplayMember/displaymember.js"></script>
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">15000 bạn</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Default</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral">New</a>
                    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                </div>
                <div class="col-xl-12">
                    <div class="col-xl-7">
                        <p style="color:white">A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer yo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class=col-xl-12>
            <div class="row">
                <div class="col-xl-7">
                    <div class="btn-group float-left mb-3 mt--4" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">Tất cả</button>
                        <button type="button" class="btn btn-secondary">Gần đây</button>
                        <button type="button" class="btn btn-secondary">Lời mời</button>
                        <button type="button" class="btn btn-secondary">Gửi đi</button>
                    </div>
                </div>
                <div class="col-xl-5 text-right">
                    <div class="mb-3 mt--4">
                        <div class="form-group mb-0">
                            <div class="input-group input-group-alternative input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input class="form-control" placeholder="Tìm ..." type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 card">

            <div class="row">

                <div class="col-xl-3 p-3 cardlist">
                    <div class="row">
                        <div class="col-5">
                            <a href="cateview.php" class="w-100">
                                <img src="~/Content/LayoutCenter/ImgUser/user1.jpg" class="mx-auto d-block mb-1 addcartimg" style="width:104px;height:104px" />
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="d-block text-truncate mb-1">
                                <a href="cateview.php" class="cartproname">Pure Refined Sugar</a>
                            </div>
                            <div class="seller d-block">
                                <span>Seller: </span>
                                <span>SELL010</span>
                            </div>
                            <div class="cartviewprice d-block">
                                <span class="amt">Rs.6,258</span>
                                <span class="oldamt">Rs.7,365</span>
                                <span class="disamt">28% off</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 p-3 cardlist">
                    <div class="row">
                        <div class="col-5">
                            <a href="cateview.php" class="w-100">
                                <img src="~/Content/LayoutCenter/ImgUser/user2.jpg" class="mx-auto d-block mb-1 addcartimg" style="width:104px;height:104px" />
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="d-block text-truncate mb-1">
                                <a href="cateview.php" class="cartproname">Pure Refined Sugar</a>
                            </div>
                            <div class="seller d-block">
                                <span>Seller: </span>
                                <span>SELL010</span>
                            </div>
                            <div class="cartviewprice d-block">
                                <span class="amt">Rs.6,258</span>
                                <span class="oldamt">Rs.7,365</span>
                                <span class="disamt">28% off</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 p-3 cardlist">
                    <div class="row">
                        <div class="col-5">
                            <a href="cateview.php" class="w-100">
                                <img src="~/Content/LayoutCenter/ImgUser/user1.jpg" class="mx-auto d-block mb-1 addcartimg" />
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="d-block text-truncate mb-1">
                                <a href="cateview.php" class="cartproname">Pure Refined Sugar</a>
                            </div>
                            <div class="seller d-block">
                                <span>Seller: </span>
                                <span>SELL010</span>
                            </div>
                            <div class="cartviewprice d-block">
                                <span class="amt">Rs.6,258</span>
                                <span class="oldamt">Rs.7,365</span>
                                <span class="disamt">28% off</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 p-3 cardlist">
                    <div class="row">
                        <div class="col-5">
                            <a href="cateview.php" class="w-100">
                                <img src="~/Content/LayoutCenter/ImgUser/user1.jpg" class="mx-auto d-block mb-1 addcartimg" />
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="d-block text-truncate mb-1">
                                <a href="cateview.php" class="cartproname">Pure Refined Sugar</a>
                            </div>
                            <div class="seller d-block">
                                <span>Seller: </span>
                                <span>SELL010</span>
                            </div>
                            <div class="cartviewprice d-block">
                                <span class="amt">Rs.6,258</span>
                                <span class="oldamt">Rs.7,365</span>
                                <span class="disamt">28% off</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 p-3 cardlist">
                    <div class="row">
                        <div class="col-5">
                            <a href="cateview.php" class="w-100">
                                <img src="~/Content/LayoutCenter/ImgUser/user2.jpg" class="mx-auto d-block mb-1 addcartimg" style="width:110px;height:110px" />
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="d-block text-truncate mb-1">
                                <a href="cateview.php" class="cartproname">Pure Refined Sugar</a>
                            </div>
                            <div class="seller d-block">
                                <span>Seller: </span>
                                <span>SELL010</span>
                            </div>
                            <div class="cartviewprice d-block">
                                <span class="amt">Rs.6,258</span>
                                <span class="oldamt">Rs.7,365</span>
                                <span class="disamt">28% off</span>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>

</div>


