
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}
<style>
    .table td, .table th {
        font-size: inherit;
    }

    .custom-toggle-slider:before {
        bottom: auto
    }

    .navbar-vertical .navbar-nav .nav-link {
        font-size: inherit;
    }

    body {
        font-family: Arial;
    }

    h1, h2, h3, h4, h5 {
        font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    }
</style>
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Default</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral">New</a>
                    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                </div>
            </div>
            <!-- Card stats -->

        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Lịch sử...</h3>
                </div>

                <div class="float-right" style="padding: 10px;">
                    <a href="#" style="margin-left: 5px;">Nổi tiếng &nbsp;&nbsp;&nbsp; </a>
                    <a href="#" style="margin-left: 5px;">Trả lời &nbsp;&nbsp;&nbsp;</a>


                    <a href="#" style="margin-left: 5px;">&nbsp;&nbsp;&nbsp; <i class="fas fa-undo-alt"></i></a>

                </div>

                <div class="form-group mb-0">
                    <div class="input-group input-group-alternative input-group-merge">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input class="form-control" placeholder="Tìm ..." type="text">
                    </div>
                </div>

                <!-- Light table -->

                <div class="table-responsive">
                    <table class="w-100 mt-3">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center"> Stt</th>
                                <th scope="col" class="sort" data-sort="name">Câu hỏi</th>

                                <th scope="col" class="text-center">
                                    <a href="#"><i class="fas fa-long-arrow-alt-up" style="font-size:25px"></i></a>
                                    <a href="#"><i class="fas fa-long-arrow-alt-down" style="font-size:25px"></i></a>
                                </th>


                            </tr>
                        </thead>
                        <tbody class="list">

                            <tr>
                                <td class="text-center">
                                    1
                                </td>
                                <td scope="row" class="w-75">
                                    <div class="media align-items-center">
                                        <a href="#" class="mr-2">

                                            <i class="fas fa-info-circle"></i>


                                        </a>
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">Argon Design System Design Argon Design System DesignArgon Design System Design SystemArgon Design...</span>

                                        </div>

                                    </div>
                                </td>
                                <td class="budget text-center">
                                    <a href="#"><i class="fas fa-times" style="font-size:23px"></i></a>
                                </td>

                            </tr>
                            <tr>
                                <td class="text-center">
                                    1
                                </td>
                                <td scope="row" class="w-75">
                                    <div class="media align-items-center">
                                        <a href="#" class="mr-2">

                                            <i class="fas fa-info-circle"></i>


                                        </a>
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">Argon Design SystemArgon Design SystemArgon Design SystemArgon Design SystemArgon Design System Design Argon Design System DesignArgon Design System Design SystemArgon Design...</span>

                                        </div>

                                    </div>
                                </td>
                                <td class="budget text-center">
                                    <a href="#"><i class="fas fa-times" style="font-size:23px"></i></a>
                                </td>

                            </tr>
                            <tr>
                                <td class="text-center">
                                    1
                                </td>
                                <td scope="row" class="w-75">
                                    <div class="media align-items-center">
                                        <a href="#" class="mr-2">

                                            <i class="fas fa-info-circle"></i>


                                        </a>
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">Argon Design SystemArgon Design SystemArgon Design SystemArgon Design SystemArgon Design System Design Argon Design System DesignArgon Design System Design SystemArgon Design...</span>

                                        </div>

                                    </div>
                                </td>
                                <td class="budget text-center">
                                    <a href="#"><i class="fas fa-times" style="font-size:23px"></i></a>
                                </td>

                            </tr>




                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

