
@{
    ViewBag.Title = "Technology";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}
<style>

    .text {
        margin: 15px 0px;
    }

    .fa {
        color: #4183D7;
    }
    .same{
        padding:12px;
    }
</style>
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">15000 công nghệ</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Default</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral">New</a>
                    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                </div>
                <div class="col-xl-12">
                    <div class="col-xl-7">
                        <p style="color:white">A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer yo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-7">
                    <div class="btn-group float-left mb-3 mt--4" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-default">Hot<i class="far fa-snowflake text-success"></i></button>
                        <button type="button" class="btn btn-secondary">Tuần</button>
                        <button type="button" class="btn btn-secondary">Lượt xem</button>
                        <button type="button" class="btn btn-secondary">Thưởng</button>
                    </div>
                </div>
                <div class="col-xl-5 text-right">
                    <div class="mb-3 mt--4">
                        <a class="btn btn-link text-secondary">Tuần</a>|
                        <a class="btn btn-link text-secondary">Tháng</a>|
                        <a class="btn btn-link text-secondary">Năm</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 same">

            <div class="text-left border" style="background-color:#f8f9fe;padding:10px">

                <div class="title">
                    <a href="#" class="badge badge-pill badge-info text-uppercase">Primary</a>
                </div>

                <div class="text">
                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                </div>
                <div class="row">
                    <div class="col-xl-5">
                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">2112610 questions</p>
                    </div>
                    <div class="col-xl-7">

                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">834 asked today, 5355 this week</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 same">

            <div class="text-left border" style="background-color:white;padding:10px">

                <div class="title">
                    <a href="#" class="badge badge-pill badge-info text-uppercase">Primary</a>
                </div>

                <div class="text">
                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                </div>
                <div class="row">
                    <div class="col-xl-5">
                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">2112610 questions</p>
                    </div>
                    <div class="col-xl-7">

                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">834 asked today, 5355 this week</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 same">

            <div class="text-left border" style="background-color:white;padding:10px">

                <div class="title">
                    <a href="#" class="badge badge-pill badge-info text-uppercase">Primary</a>
                </div>

                <div class="text">
                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                </div>
                <div class="row">
                    <div class="col-xl-5">
                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">2112610 questions</p>
                    </div>
                    <div class="col-xl-7">

                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">834 asked today, 5355 this week</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 same">

            <div class="text-left border" style="background-color:white;padding:10px">

                <div class="title">
                    <a href="#" class="badge badge-pill badge-primary text-uppercase">Primary</a>
                </div>

                <div class="text">
                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                </div>
                <div class="row">
                    <div class="col-xl-5">
                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">2112610 questions</p>
                    </div>
                    <div class="col-xl-7">

                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">834 asked today, 5355 this week</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 same">

            <div class="text-left border" style="background-color:white;padding:10px">

                <div class="title">
                    <a href="#" class="badge badge-pill badge-primary text-uppercase">Primary</a>
                </div>

                <div class="text">
                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                </div>
                <div class="row">
                    <div class="col-xl-5">
                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">2112610 questions</p>
                    </div>
                    <div class="col-xl-7">

                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">834 asked today, 5355 this week</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 same">

            <div class="text-left border" style="background-color:white;padding:10px">

                <div class="title">
                    <a href="#" class="badge badge-pill badge-primary text-uppercase">Primary</a>
                </div>

                <div class="text">
                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                </div>
                <div class="row">
                    <div class="col-xl-5">
                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">2112610 questions</p>
                    </div>
                    <div class="col-xl-7">

                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">834 asked today, 5355 this week</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 same">

            <div class="text-left border" style="background-color:white;padding:10px">

                <div class="title">
                    <a href="#" class="badge badge-pill badge-primary text-uppercase">Primary</a>
                </div>

                <div class="text">
                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                </div>
                <div class="row">
                    <div class="col-xl-5">
                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">2112610 questions</p>
                    </div>
                    <div class="col-xl-7">

                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">834 asked today, 5355 this week</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 same">

            <div class="text-left border" style="background-color:#f8f9fe;padding:10px">

                <div class="title">
                    <a href="#" class="badge badge-pill badge-info text-uppercase">Primary</a>
                </div>

                <div class="text">
                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                </div>
                <div class="row">
                    <div class="col-xl-5">
                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">2112610 questions</p>
                    </div>
                    <div class="col-xl-7">

                        <p class="text-left text-muted mb-0" style="font-size:12px;font-family:Arial">834 asked today, 5355 this week</p>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>

