
@{
    ViewBag.Title = "Tick";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}
<style>
    .table td, .table th {
        font-size: inherit;
    }

    .custom-toggle-slider:before {
        bottom: auto
    }

    .navbar-vertical .navbar-nav .nav-link {
        font-size: inherit;
    }

    body {
        font-family: Arial;
    }

    h1, h2, h3, h4, h5 {
        font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    }
</style>
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Default</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral">New</a>
                    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                </div>
            </div>
            <!-- Card stats -->
            
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">30 Bài viết đã đánh dấu...</h3>
                </div>

                <div class="float-right" style="padding: 10px;">
                    <a href="#" style="margin-left: 5px;">Nổi tiếng &nbsp;&nbsp;&nbsp; </a>
                    <a href="#" style="margin-left: 5px;">Trả lời &nbsp;&nbsp;&nbsp;</a>
                    

                    <a href="#" style="margin-left: 5px;">&nbsp;&nbsp;&nbsp; <i class="fas fa-undo-alt"></i></a>

                </div>

                <div class="form-group mb-0">
                    <div class="input-group input-group-alternative input-group-merge">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input class="form-control" placeholder="Tìm ..." type="text">
                    </div>
                </div>

                <!-- Light table -->
                
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">Câu hỏi</th>
                                
                                <th scope="col"> 
                                <a href="#"><i class="fas fa-long-arrow-alt-up" style="font-size:25px"></i></a>
                                <a href="#"><i class="fas fa-long-arrow-alt-down" style="font-size:25px"></i></a>
                                </th>
                                
                                <th scope="col" class="text-right"> Stt</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <td scope="row">
                                    <div class="media align-items-center">
                                        <a class="mr-2">

                                            <center><i class="fa fa-chevron-up" style="font-size:200%"></i></center>
                                            <center>
                                                <p>123</p>
                                            </center>
                                            <center><i class="fa fa-chevron-down mt--3" style="font-size:200%"></i></center>


                                        </a>
                                        <div class="media-body">
                                            <div><p class="mb--2">Argon System Argon </p></div>
                                            <span class="name mb-0 text-sm">Argon Design System Design SystemArgon Design...</span>

                                            <div class="d-flex align-items-center">
                                                <span class="completion mr-2">Vow : 60%</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>

                                                    </div>

                                                </div>
                                                <div>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-reply"></i> 150 &nbsp;&nbsp; <i class="far fa-comment-dots"></i> 120 &nbsp;&nbsp; <i class="far fa-eye"></i> 12
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                                <td class="budget ">
                                    <a href="#"><i class="far fa-check-circle" style="font-size:23px"></i></a>
                                </td>




                                <td class="text-right">
                                    1
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <div class="media align-items-center">
                                        <a class="mr-2">

                                            <center><i class="fa fa-chevron-up" style="font-size:200%"></i></center>
                                            <center>
                                                <p>123</p>
                                            </center>
                                            <center><i class="fa fa-chevron-down mt--3" style="font-size:200%"></i></center>


                                        </a>
                                        <div class="media-body">
                                            <div><p class="mb--2">Argon System Argon </p></div>
                                            <span class="name mb-0 text-sm">Argon Design System Design SystemArgon Design...</span>

                                            <div class="d-flex align-items-center">
                                                <span class="completion mr-2">Vow : 60%</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>

                                                    </div>

                                                </div>
                                                <div>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-reply"></i> 150 &nbsp;&nbsp; <i class="far fa-comment-dots"></i> 120 &nbsp;&nbsp; <i class="far fa-eye"></i> 12
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                                <td class="budget ">
                                    <a href="#"><i class="far fa-check-circle" style="font-size:23px"></i></a>
                                </td>




                                <td class="text-right">
                                    1
                                </td>
                            </tr>




                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
